:root {
  --black: #181818;
  --gray-100: #F3F4F6;
  --gray-800: #1F2937;
  --white: #ffffff;

  --text-primary: var(--white);
  --text-secondary: var(--gray-100);
}

:root {
  --color-background: var(--gray-800);
  --color-heading: var(--text-primary);
  --color-text: var(--text-secondary);
}

:root {
  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Satoshi';
}