:root {
  --black: #181818;
  --gray-900: #111827;
  --white: #ffffff;

  --divider-strong: rgba(84, 84, 84, 0.65);
  --divider-subtle: rgba(84, 84, 84, 0.48);

  --text-primary: var(--white);
  --text-secondary: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--gray-900);

  --color-border: var(--divider-subtle);
  --color-border-hover: var(--divider-strong);

  --color-heading: var(--text-primary);
  --color-text: var(--text-secondary);
}

:root {
  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Satoshi';
}