@import 'tailwindcss';

@import './base.css';
@import './satoshi.css';

html {
  scroll-behavior: smooth;
}

main {
  max-width: 70rem;
  margin: auto;
  padding: 2rem;
}

h2 {
  padding-top: 5rem;
}
