@import 'tailwindcss';

@import './base.css';
@import './satoshi.css';

html {
  scroll-behavior: smooth;
}

main {
  max-width: 70rem;
  margin: auto;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
